{add-cp #cp "cljs"
 emacs {product (str df.core/home-dir "/.emacs.d")
        novelty (not (df.core/symlinked? "./configs/emacs.d" product))
        update! (df.core/symlink! "./configs/emacs.d" product)
        clean!  (df.core/clean-link! "./configs/emacs.d" product)}}
