{add-cp #cp "cljs"
 emacs {product (str df.core/home-dir "/.emacs.d")
        update! (df.core/symlink "./configs/emacs.d" product)
        clean! (if (df.core/symlinked? product)
                 #$ ["rm" product]
                 (println "unable to clean:" product "exists and is not a symlink"))}}
